 <!-- FlatFy Theme - Andrea Galanti /-->
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Flatfy Free Flat and Responsive HTML5 Template ">
    <meta name="author" content="">

    <title>Flatfy – Free Flat and Responsive HTML5 Template</title>
    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'blog/css/bootstrap.min_detail.css' %}" rel="stylesheet">
 
    <!-- Custom Google Web Font -->
    <link href="{% static 'blog/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
	
    <!-- Custom CSS-->
    <link href="{% static 'blog/css/general.css' %}" rel="stylesheet">
	
	 <!-- Owl-Carousel -->
    <link href="{% static 'blog/css/custom.css' %}" rel="stylesheet">
	<link href="{% static 'blog/css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/owl.theme.css' %}" rel="stylesheet">
	<link href="{% static 'blog/css/style.css' %}" rel="stylesheet">
	<link href="{% static 'blog/css/animate.css' %}" rel="stylesheet">
	
	<!-- Magnific Popup core CSS file -->
	<link rel="stylesheet" href="{% static 'blog/css/magnific-popup.css' %}"> 
	
	<script src="{% static 'blog/js/modernizr-2.8.3.min.js' %}"></script>  <!-- Modernizr /-->
	<!--[if IE 9]>
		<script src="js/PIE_IE9.js' %}"></script>
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="js/PIE_IE678.js' %}"></script>
	<![endif]-->

	<!--[if lt IE 9]>
		<script src="js/html5shiv.js' %}"></script>
	<![endif]-->

</head>
<body>
        <div class="intro-header">
		<div class="col-xs-12 text-center abcen1">
			<a href="/"><h1 class="h1_home wow fadeIn" data-wow-delay="0.4s"><img src="{% static 'blog/img/logotop.png' %}" width="300" height="100"/></h1></a>
                <h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">{% block content %}
                <h5>Nuevo comentario</h5>
                <form method="POST" class="post-form">{% csrf_token %}
                    {{ form.as_p }}

                        <ul class="list-inline intro-social-buttons">
                            <li>        <button type="submit" class="save btn btn-default">Enviar</button></form>{% endblock %}</h3>
				</li>
			</ul>
		</div>    
        <!-- /.container -->
		<div class="col-xs-12 text-center abcen wow fadeIn">
			<div class="button_down "> 
				<a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#whatis"> <img class="img_scroll" src="static/blog/img/icon/circle.png" alt=""> </a>
			</div>
		</div>
    </div>

</body>
</html>